html,
body {
  font-family: 'Optimistic Display', system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0B091F;
  font-family: "Lato";
}

::selection { /* Code for Firefox */
  background: #1a2d79a4;
  border-radius: 3vmin;
  backdrop-filter: blur(3vmin);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(31, 31, 31);
}

::-webkit-scrollbar-thumb {
  background-color: #94A3B8
}

::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #94A3B8;
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d9e8fb;
}
