#content {
  position: relative;
  width: '100%';
  overflow: hidden;
}

.header1 {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 0px;
}

.header2 {
  margin-top: 10px;
  color: #1cb0fa;
  letter-spacing: 1px;
  font-weight: 600;
}

#lights {
  white-space: nowrap;
  position: fixed;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: top;
}

#getStartedBt{
  user-select: none;
  text-align: center;
  background: linear-gradient(180deg, rgba(16, 116, 255, 1) 0%, rgba(9, 115, 223, 1) 0.01%, rgba(18, 21, 93, 1) 100%);  border-radius: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  border: 2px solid #27387E;
  width: fit-content;
  color: white;
  display: block;
  opacity: 0.9;
  transition: opacity 100ms ease-in-out;
}

#getStartedBt:hover{
  opacity: 1;
}

@media (max-width: 1280px) {
  #lights {
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 140vh;
    background-image: url('../assets/lights01_m.png');
    background-size: cover;
  }
  #content {
    margin-top: 125px;
  }
  .header1 {
    font-size: 32.8px;
    text-align: center;
  }
  .header2 {
    font-size: 18.4px;
    text-align: center;
  }
}

@media (min-width: 1281px) {
  #lights {
    max-height: 100vh;
    left: 0;
    top: 10vmin;
    width: 100%;
    aspect-ratio: 1;
    background-image: url('../assets/lights01.png');
    background-size: contain;
  }
  #content {
    margin-top: 80px;
  }
  .header1 {
    font-size: 45px;
  }
  .header2 {
    font-size: 25px;
  }
}
