#navBarContent {
  margin: auto;
  max-width: 110rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  #navBarContent {
    height: 55px;
  }
  #rightItemsDesktop {
    display: none;
  }
  #rightItemsMobile {
    display: flex;
    flex-direction: row;
    align-items: 'center';
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  #navBarContent {
    height: 80px;
  }
  #rightItemsMobile {
    display: none;
  }
  #rightItemsDesktop {
    display: flex;
    color: #94a3b8;
    flex-direction: row;
    align-items: 'center';
    margin-left: auto;
  }
}

.navItem,
.navItem:visited,
.navItem:hover,
.navItem:active {
  color: inherit;
}

.navItem {
  user-select: none;
  margin-right: 80px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.1s ease-in-out;
}

.navItem[data-currentpage='true'] {
  color: #1cb0fa;
}

.navItem[data-currentpage='true']::after {
  background-color: #1cb0fa;
}

.navItem::after {
  content: '';
  display: block;
  margin: 15px auto auto auto;
  width: 40px;
  height: 5px;
  background-color: #94a3b8;
  border-radius: 20px;
  transition: background-color 0.1s ease-in-out;
}

.navItem:hover {
  color: #1cb0fa;
}

.navItem:hover::after {
  background-color: #1cb0fa;
}

#navIcon > path {
  transition: fill 0.1s ease-in-out;
}

#navIcon:hover > path {
  fill: #d9e8fb;
}
