#topNavBarRoot {
  margin: 0;
  width: 100%;
  background-color: #0f1011;
  padding: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
  align-items: center;
}

#topNavBarTitle {
  padding: 1.5vmin;
  letter-spacing: 0.1vmin;
  margin: 0;
  font-weight: 700;
  font-size: 2vmin;
  color: white;
  -webkit-transition: color 25ms linear;
  -ms-transition: color 25ms linear;
  transition: color 25ms linear;
  text-decoration: none;
}

#topNavBarTitle:hover {
  color: #fadf49;
}

#navItem[data-currentpage='true'] {
  border-bottom-color: #fadf49;
  color: #eed70c;
}

#navItem {
  height: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-width: 0.55vmin;
  border-bottom-style: solid;
  color: white;
  -webkit-transition: color 25ms linear;
  -ms-transition: color 25ms linear;
  transition: color 25ms linear;
  text-decoration: none;
}

#navItem p {
  margin: 0;
  padding: 0;
}

#navItem:hover {
  color: #eed70c;
}

#navItem > p {
  padding: 1.5vmin;
  letter-spacing: 0.001vmin;
  margin: 0;
  font-weight: 500;
  font-size: 1.8vmin;
}

#githubIcon {
  transition: opacity 0.15s ease-in;
}

#githubIcon:hover {
  opacity: 0.5;
}
