#topNavBarRoot {
  margin: 0;
  width: 100%;
  background-color: #20232a;
  padding: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
}

#topNavBarTitle {
  padding: 1.5vmin;
  letter-spacing: 0.1vmin;
  margin: 0;
  font-weight: 700;
  font-size: 2vmin;
  color: white;
  -webkit-transition: color 25ms linear;
  -ms-transition: color 25ms linear;
  transition: color 25ms linear;
  text-decoration: none;
}

#topNavBarTitle:hover {
  color: #61dafb;
}

#navItem[data-currentpage="true"] {
  border-bottom-color: #61dafb;
  color: #0cbcee;
}

#navItem {
  height: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-bottom-color: transparent;
  border-bottom-width: 0.55vmin;
  border-bottom-style: solid;
  color: white;
  -webkit-transition: color 25ms linear;
  -ms-transition: color 25ms linear;
  transition: color 25ms linear;
  text-decoration: none;
}

#navItem:hover {
  color: #0cbcee;
}

#navItem > p {
  padding: 1.5vmin;
  letter-spacing: 0.001vmin;
  margin: 0;
  font-weight: 500;
  font-size: 1.8vmin;
}
